@import './typography'

$breakpoints-min = {
  sm: 'screen and (min-width: %s)' % memify(568)
  md: 'screen and (min-width: %s)' % memify(768)
  lg: 'screen and (min-width: %s)' % memify(1024)
  xl: 'screen and (min-width: %s)' % memify(1280)
}

$breakpoints-max = {
  sm: 'screen and (max-width: %s)' % memify(568)
  md: 'screen and (max-width: %s)' % memify(768)
  lg: 'screen and (max-width: %s)' % memify(1024)
  xl: 'screen and (max-width: %s)' % memify(1280)
}
