[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/ianrodrigues/hugo-tailwind-journal
[submodule "themes/tailwindcss"]
	path = themes/tailwindcss
	url = https://github.com/ianrodrigues/hugo-tailwind-journal
